@keyframes fade-in {
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes balancar {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes aparecer-cima {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rodar {
    from {
        transform: translate(-50%, -50%);
        rotate: 0deg;
    }
    to {
        transform: translate(-50%, -50%);
        rotate: 360deg;
    }
}
