@keyframes fade-in {
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}