@import url(fonts.css);

body {
    background: purple radial-gradient(circle at top, #2d1b4e 0%, #020414 100%);
    height: 100dvh;
    min-height: 100dvh;
    color: white;
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-attachment: fixed;
}