@import url(animations.css);
@import url(fonts.css);

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    opacity: 0;
    margin: 0;
    margin-top: 50px;
    animation: fade-in 1s 300ms ease-out forwards;
    color: #5b21b6;
    font-family: 'montserrat', sans-serif;
    font-size: 7vw;
}

header p{
    opacity: 0;
    margin: 0;
    animation: fade-in 1s 500ms ease-out forwards;
    font-size: 5vw;
}

header button{
    opacity: 0;
    padding: 3dvh 7dvh 3dvh 7dvh;
    font-size: 3dvh;
    font-weight: bold;
    margin-top: 4dvh;
    color: white;
    border: none;
    background: linear-gradient(180deg, #5b21b6 0%, #4c1d95 100%);
    border-radius: 10px;
    animation: aparecer 1s 1.5s ease-out forwards;
    transition-property: transform;
    transition-duration: 0.5s;
}

header button:hover{
    transform: translateY(3px);
    cursor: pointer;
}

header button:active{
    transform: scale(0.90);
}

