@import "animations.css";


#menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    z-index: 2;

    opacity: 0;               
    transition: opacity 0.6s;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1);
}


#menu.aparecer {
    opacity: 1;
    pointer-events: auto;
}


#menu a {
    text-decoration: none;
    color: aliceblue;
    border-radius: 25px;
    background-color: transparent;
    padding: 4px 13px;
    transition: background-color 0.5s;
}

#menu a:hover {
    background-color: #7010b0;
}
