#projetos {
    margin-top: 50dvh;
}

#projetos h2{
    font-size: 50px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

#proj-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 10%;
    overflow: visible;
}

#proj-divs div p{
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 8px;
    
}

#proj-divs div img{
    width: 100%;
    height: 25dvh;
    border-radius: 10px 10px 0 0 ;
}

#proj-divs div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

#proj-divs div a:hover{
    color: #4b0082;
}

#proj-divs div{
    width: 21dvw;
    text-align: center;
    height: 60dvh;
    background-color: #1a0f2e;
    margin: 2dvw;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    
    transition: transform 0.5s;
}

#proj-divs div::after, #proj-divs div::before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    background:  #4b0082;
    padding: 1px;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, -1px);
}

#proj-divs div::before{
    filter: blur(15px);
    opacity: 0.8;
}

#proj-divs div:hover {
    transform: scale(1.050);
}

