@import url(fonts.css);

footer {
    width: 100%;
    height: 30vh;
    margin-top: 25%;
    text-align: center;
}

footer h2 {
    font-size: 40px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: #ff007f;
    font-family: 'Viga', sans-serif;
    font-weight: bold;
}

#contato-div a {
    color: #e2e8f0;
    text-decoration: none;
    margin: 0 2dvw;
    font-size: 20px;
    transition: color 0.3s;
    display: block;
    margin-top: 2vh;
}

#contato-div a:hover {
    color: #4b0082;
}
#contato-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

