@import url(animations.css);

#sobre {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100dvh;
}

#imagem {
    flex: 50%;
}

#sobre *, #linguagens img, #sessao1 h2{
    transition: transform 0.5s;
}

#imagem img{
    display: block;
    width: 23dvw;
    margin-left: auto;
    margin-right: 10dvw;
    border-radius: 50%;
    box-shadow: 0 0 10px #a020f0, 0 0 20px #a020f0, 0 0 40px #7010b0, 0 0 80px #4b0082;
    animation: balancar 1s ease-in-out infinite alternate;
}

#sobreMim {
    flex: 50%;
    font-weight: bold;
    margin-left: 10dvw;
}

#sobreMim p{
    font-weight: 100;
    max-width: 40dvw;
    font-size: 30px;
    color: #e2e8f0;
}

#texto-sobreMim{
    font-size: 50px;
    color: #ff007f;
    text-align: left;
}

#ling-text{
    font-size: 50px;
    text-align: center;
}

#linguagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(80deg, rgb(47, 3, 77), #2d1b4e);
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10dvw;
}

#linguagens img{
    width: 5dvw;
}

#imagem:hover, #sobreMim h2:hover, #sobreMim p:hover, #linguagens img:hover, #sessao1 h2:hover{
    transform: scale(1.1);
    cursor: default;
}
